<template>
    <div class="page-index">
        <form-searche class="mt-3 mb-5"/>
        <table-data v-if="property.length" :items="property"/>
        <b-alert v-else variant="danger" show>No results.</b-alert>

    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    import {mapFields} from 'vuex-map-fields'
    import TableData from "../components/TableData";
    import FormSearche from "../components/FormSearche";
    export default {
        name: "PageIndex",
        components: {FormSearche, TableData},
        beforeRouteEnter(to, from, next){
            next(vm => {
                vm.$Progress.start()
                vm.getData().then(()=> {
                    vm.$Progress.finish()
                })
            })
        },

        computed:{
            ...mapFields('Main', [
                'property'
            ]),
        },

        methods:{
            ...mapActions('Main', [
                'getData'
            ]),
        }


    }
</script>

<style scoped>

</style>
