<template>
    <b-form>
        <div class="row">
            <div class="col-2">
                <b-form-input v-model="query.name" @input="onSubmit" type="text" placeholder="Enter name"></b-form-input>
            </div>
            <div class="col-2">
                <vue-slider v-model="query.price" @input="onSubmit" :min="263604" :max="572002" :nterval="1000"></vue-slider>
            </div>
            <div class="col-2">
                <b-form-input v-model="query.bedrooms" @input="onSubmit" type="number" placeholder="Enter Bedrooms"></b-form-input>
            </div>
            <div class="col-2">
                <b-form-input v-model="query.bathrooms" @input="onSubmit" type="number" placeholder="Enter Bathrooms"></b-form-input>
            </div>
            <div class="col-2">
                <b-form-input v-model="query.storeys" @input="onSubmit" type="number" placeholder="Enter Storeys"></b-form-input>
            </div>
            <div class="col-2">
                <b-form-input v-model="query.garages" @input="onSubmit" type="number" placeholder="Enter Garages"></b-form-input>
            </div>
        </div>
        <Stretch v-if="loading"/>
    </b-form>
</template>

<script>
    import {Stretch} from 'vue-loading-spinner'
    import {mapFields} from 'vuex-map-fields'
    import {mapActions} from 'vuex'
    import vueSlider from 'vue-slider-component'

    export default {
        name: "FormSearche",

        components: {
            Stretch, vueSlider
        },

        data(){
          return{
              loading: false,
          }
        },

        computed:{
            ...mapFields('Main', [
                'query'
            ])
        },

        methods:{
            ...mapActions('Main', [
                'getData'
            ]),
            onSubmit(){
                this.loading = true;
                this.getData().then(()=>{
                    this.loading = false;
                }).catch(() => {
                    this.loading = false;
                })
            }
        }
    }
</script>

<style scoped>

</style>
