<template>
    <b-table striped hover :items="items" :fields="fields"></b-table>
</template>

<script>
    export default {
        name: "TableData",

        props:{
            items: Array,
        },

        data(){
            return{
                fields:[
                    {
                        key: 'name',
                        label: 'Name',
                    },{
                        key: 'price',
                        label: 'Price',
                    },{
                        key: 'bedrooms',
                        label: 'Bedrooms',
                    },{
                        key: 'bathrooms',
                        label: 'Bathrooms',
                    },{
                        key: 'storeys',
                        label: 'Storeys',
                    },{
                        key: 'garages',
                        label: 'Garages',
                    },
                ],
            }
        }
    }
</script>

<style scoped>

</style>
