<template>
    <div class="site">
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-3"><span class="test">Test-Work</span></div>
                    </div>
                </div>
            </header><!-- .header-->
            <main class="content">
                <div class="container">
                    <router-view></router-view>
                    <vue-progress-bar></vue-progress-bar>
                </div>
            </main><!-- .content -->
        </div><!-- .wrapper -->
        <footer class="footer"></footer><!-- .footer -->
    </div>
</template>

<script>
    export default {
        name: "MainPage"
    }
</script>

<style lang="scss" scoped>
    .test{
        height: 50px;
        display: flex;
        align-items: center;
    }
</style>
